<div class="form">
<%= form_for(@contact, html: {mulitpart: true}) do |f| %>

  <ul class="error">
    <% @contact.errors.full_messages.each do |err| %>
      <%= err %><br>
    <% end %>
  </ul>

  <p>
    <% if @contact.image.exists? %>
      <%= image_tag @contact.image.url(:small) %>
    <% end %>
    <%= f.label :image, "Attach a Photo" %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :f_name, 'First Name' %>
    <%= f.text_field :f_name %>
  </p>
  <p>
    <%= f.label :l_name, 'Last Name' %>
    <%= f.text_field :l_name %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit :class => "button" %>
  </p>
<% end %>
</div>
