<h1>Contacts</h1>

<p>Sort by:
  <%= link_to "Last Name", contacts_path(order: "l_name") %>
  <%= link_to "First Name", contacts_path(order: "f_name") %>
</p>

<ul>
  <% @contacts.each do |c| %>
  <%= link_to c.f_name, contact_path(c) %>
  <%= link_to c.l_name, contact_path(c) %><br>
  <% end %>

  <br><%= link_to "Create a New Contact", new_contact_path %>
