<h1>Contacts</h1>

<ul>
  <% @contacts.each do |c| %>
    Name:     <%= c.f_name %>
              <%= c.l_name %><br>
    Address:  <%= c.address %><br>
    Phone:    <%= c.phone %><br>
    Email:    <%= c.email %><br><br>
  <% end %>
  
