<h1><%= @contact.l_name %></h1>

<div class="contact-detail">
  <p>
    <% if @contact.image.exists? %>
      <%= image_tag @contact.image.url(:medium) %>
    <% end %>
  </p>
  <p><%= @contact.f_name %>
     <%= @contact.l_name %></p>
  <p><%= @contact.address %></p>
  <p><%= @contact.phone %></p>
  <p><%= @contact.email %></p>
<div>

<div class="link">
  <%= link_to "Back to Contact List", contacts_path %><br>
  <%= link_to "Delete Contact", contact_path(@contact), method: :delete, data: {confirm: "Really delete?"} %><br>
  <%= link_to "Edit Contact", edit_contact_path(@contact) %>
</div>
